h1{
    font-family: Bradley Hand;
    font-size: 30px;
    border-bottom: 5px solid #05668D;
    text-align: center;
}

h2{
    margin-top: .75em;
    margin-bottom: .5em;
}

div{
    margin: 0% 10%;
    padding: 0% 3%;
    border: 5px solid #05668D;
    border-radius: 10px;
    background-image: url("../photos/marble.svg");
}

body{
    background-image: url("../photos/diamond.svg");
    background-repeat: repeat;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 25px;
}

img{
    float: right;
    border: 5px solid #05668D;
    box-shadow: 10px 10px #888888;
    padding: 5px;
}

.author{
    text-decoration: none;
    font-style: normal;
    color: black;
}

.author:hover{
    text-decoration: underline;
    color: #05668D;
}

#haiku p{
    text-align: center;
}

#essay p{
    text-indent: 2%;
}

#essay p::first-letter{
    color: #05668D;
    font-size: 25px;
}

table{
    border-spacing: 2px;
    padding: 3px;
    text-align: center;
    width: 100%;
    border: 2px solid #05668D;
    background-color: antiquewhite;
}

td{
    width: 16.67%;
}

th{
    background-color: lightslategray;
    color: white;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

.phil-2050{
    background-color: #05668D;
    color: whitesmoke;
}

.cs-305{
    background-color: #1E555C;
    color: whitesmoke;
}

.institute{
    background-color: #F4D8CD;
}

.commute{
    background-color: #9c3568;
    color: whitesmoke;
}

.cs-2550{
    background-color: #EDB183;
}

section{
    margin-bottom: 1em;
}